.accordions {
    display: flex;
    flex-direction: column;
    row-gap: 8px !important;
    padding: 0 16px;
}

.accordion-item {
    background-color: #3E4449 !important;
    color: #fff !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    box-shadow: none !important;
}

.accordion-item svg {
    color: #fff !important;
}

.accordion-item__title {
    min-height: 32px !important;
    background-color: #2F353C !important;
    border-radius: 10px !important;
}

.accordion-item__title.Mui-expanded {
    border-bottom: 4px solid #3E4449 !important;
}

.accordion-item__title div {
    margin: 0 !important;
}

.accordion-item__title p {
    color: #fff !important;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 16px 9px;
}

.accordion-item__details {
    background-color: #2F353C !important;
    border-radius: 10px !important;
}

.accordion-item__details p {
    color: #fff !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 32px !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    content: none !important;
}

