.replenishWrapper {
  background-color: #3E4449;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px;
}

.replenish {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__send {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;

    button {
      opacity: 1;
      transition: 0.15s;
    }

    button:disabled {
      opacity: 0.5;
    }
  }

  &__button {
    width: 180px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #017DEC;
    color: #fff;
    font-size: 14px;
    border-radius: 60px;
  }
}

.addressWrapper {
  max-height: 424px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  //padding-right: 20px;


  &__label {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-left: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.address {
  background-color: #2F353B;
  border-radius: 5px;
  width: 100%;
  height: 46px;
  display: flex;
  font-weight: 300;
  padding: 6px 16px;
  justify-content: space-between;

  &__actions {
    display: flex;
    column-gap: 8px;
  }

  &__code {
    word-break: break-all;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-right: 16px;
  }
}

.walletPopup {
  padding: 16px 16px 26px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3E4449;
  border-radius: 10px;
  border: 1px solid #017DEC;
  z-index: 10;
  width: calc(100% - 32px);

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    span {
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
      color: #fff;
    }

    button {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  &__qrCodeBox {
    width: 206px;
    height: 206px;
    background-color: #ced0d6;
    margin: 0 auto 16px;
  }

  &__qrCode {
    width: 206px;
    height: 206px;
    object-fit: contain;
  }

  &__close, &__closeActive {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    border: none;
    cursor: unset;
    opacity: 0.5;
    background-color: #000;
  }

  &__closeActive {
    display: block;
  }

  label {
    display: none
  }

  input {
    height: 46px;
  }
}