.button, .buttonPlus {
    width: 180px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    //color: var(--tg-theme-button-text-color);
    //background: var(--tg-theme-button-color);
    background-color: #017DEC;
    color: #fff;
    font-size: 14px;
    border-radius: 60px;
}

.buttonPlus {
    span {
        padding-left: 22px;
        position: relative;
        color: #fff;

        &:before, &:after {
            position: absolute;
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            border-radius: 60px;
            background-color: #fff;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &:after {
            transform: translateY(-50%) rotateZ(90deg);
        }
    }
}

.backDark, .backLight {
    position: relative;
    width: 24px;
    height: 24px;

    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) rotateZ(45deg) translateX(-50%);
    }
}

.backDark:before {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.backLight:before {
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}