.header {
    width: 100%;
    //height: 100%;
    display: flex;
    /*align-items: center;*/
    /*padding: 0 20px;*/
    justify-content: space-between;
    padding: 16px 16px 24px;
    background-color: #2F353B;
    position: relative;

    &__close, &__closeActive {
        position: fixed;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        background-color: transparent;
        border: none;
        cursor: unset;
    }

    &__closeActive {
        display: block;
    }
}

.buttonOptionDark, .buttonOptionLight {
    width: 24px;
    height: 24px;
    position: relative;

    .dots, .dotsRotate {
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 50%;
        background-color: #fff;

        &:before, &:after {
            display: block;
            position: absolute;
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            transform: translateX(-50%);
            left: 50%;
            background-color: #fff;
            transition: all .2s;
        }

        &:before {
            top: -6px;
        }

        &:after {
            bottom: -6px;
        }
    }

    .dotsRotate {
        &:before, &:after {
            top: 0;
        }

        &:before {
            left: calc(50% - 6px);
        }

        &:after {
            left: calc(50% + 6px);
        }
    }
}
//
//.buttonOptionDark {
//    .dots {
//        background-color: #fff;
//
//        &:before, &:after {
//            background-color: #fff;
//        }
//    }
//}

//.buttonOptionLight {
//    .dots {
//        background-color: #000;
//
//        &:before, &:after {
//            background-color: #000;
//        }
//    }
//}

.walletTitle {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #CED0D6;

    &.dark {
        color: #CED0D6;
    }

    //&.light {
    //    color: #000;
    //}
}

.username {
    margin-left: auto;
}
