* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
}

.walletWrapper {
  padding: 16px;

  &.dark {
    p, span, .walletTitle {
      color: #fff
    }
  }

  &.light {
    p, span, .walletTitle {
      color: #000
    }
  }
}

.link {
  color: var(--tg-theme-link-color);
}

