.MuiFormControlLabel-root {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    margin: 0 !important;
}

.MuiTypography-root {
    font-size: 14px !important;
    line-height: 17px !important;
    color: #fff !important;
    font-weight: 600 !important;
}

.MuiSwitch-root {
    margin: 0 8px 0 0 !important;
}